.difference
{
    background-color: #FFF07C;
    padding: 8px;
    width: 800px;
}

.procon
{
    background-color: #87BBA2;
    padding: 8px;
    width: 800px;
}

body
{
    background-color: #F0F7EE;
    color: #001514;
    font-size: 18px;
}

h1
{
    color: #5D737E;
    font-size: 36px;
    font-weight: bolder;
}

h3
{
    color: #5D737E;
    font-size: 24px;
    font-weight: bold;
}
